/* Déclaration des variables*/
:root{
    /*Couleurs*/
    --darkBlue: hsl(243, 87%, 12%);
    --lightBlue: hsl(238, 22%, 44%);
    --brightBlue: hsl(224, 93%, 58%);
    --Cyan: hsl(170, 45%, 43%);
    --ultraLightBlue: rgb(248,248,253);
    --lightGray: hsl(0, 0%, 75%);

    /*Typographies*/
    --title:'Raleway', sans-serif;
    --text: 'Open Sans', sans-serif;
    --fsTitle: 2.5em;
    --fsSecondaryTitle: 2em;
}

*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--text);
    font-size: 15px;
    font-weight: 400;
    height: 100vh;
    color: var(--darkBlue);
}
h1{
    font-size: var(--fsTitle);
    font-family: var(--title);
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.4em;
}
h2{
    font-size: var(--fsSecondaryTitle);
    font-family: var(--title);
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.4em;
}
section p{
    font-size: 0.9em;
    margin-bottom: 1.5em;
}
img{
    display: block;
}
main{
    margin:auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 4em 3em 4em;
}
.logo_header{
    display: block;
    width: 120px;
    height: 35px;
}
nav ul{
    display: flex;
    font-family: var(--title);
    font-size: 1em;
    list-style-type: none;
}
nav li{
    margin-right: 2em;
}
nav a{
    text-decoration: none;
    color: var(--darkBlue);
}
nav a:hover{
    text-decoration:underline;
}

/*-------------SECTIONS--------------*/

section{
    padding-left: 4em;
    padding-right: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1{
padding-bottom: 12em;
background: url(./images/bg-curve-desktop.svg) no-repeat bottom;
}
.infos_section{
    margin-right: 2em;
    flex:1;
}
.image_section{
    flex:1;
}
.section1 p{
    font-size: 1em;
}
.image_section img{
    width: 100%;
}
form{
    display: flex;
    width: 90%;
}
input{
    border-radius: 0.15em;
}
.email_field{
    flex:1;
    border: 1px solid var(--darkBlue);
    padding: 0.85em;
    margin-right: 1em;
}
.button1{
    color: white;
    background-color: var(--brightBlue);
    padding: 0.85em 4em;
    border: none;
    box-shadow: 0.1em 0.1em 0.2em var(--lightGray);
}
.button1:hover{
    opacity:0.7;
}
.section2{
    padding-top: 2em;
    padding-bottom: 5em;
    background-color: var(--ultraLightBlue);
}
.section2 .infos_section{
    margin-right: 2em;
    flex:4;
}
.section2 .image_section{
    flex:3;
}
.section2 a{
    color:rgb(59, 160, 143);	
    text-decoration: none;
    border-bottom: 1px solid rgb(59, 160, 143);
}
.arrow{
    margin-left: 0.3em;
    display: inline-block;
    vertical-align: middle;
}
.section2 a:hover{
    opacity: 0.7;
}
.section2 p,.newsletter_infos p{
    width: 80%;
}
article{
    margin-top: 4em;
    width: 60%;
    background-color: white;
    padding:2em;
    border-radius: 0.5em;
    box-shadow:0 0 0.5em rgba(0, 0, 0, 0.1);
    font-family: var(--title);
    font-size: 0.85em;
    letter-spacing: 0.04em;
    line-height: 1.8em;
}
.citation{
    margin: 1em 0 1em 0;
}
.autor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.2em;
}
.autor img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 1em;
}
.autor strong{
    font-weight: 700;
}
.autor em{
    font-size: 0.75em;
    font-style: normal;
}
.autor p{
    margin: 0;
}
.newsletter{
    color: white;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: var(--lightBlue);
}

.form2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.email_field2{
    width: 80%;
    margin-bottom: 1em;

}
footer{
    background-color: var(--darkBlue);
    color: white;
    padding: 5em 4em;
}
.footer_flex{
    display: flex;
}
.contact_f{
    flex: 0 1 25%;
}
.about_us{
    flex: 0 1 25%;
}
.contact_us{
    flex: 0 1 25%;
}
.logo_rs{
    flex: 0 1 25%;
}
footer svg{
    width: 110px;
    height:33px;
    margin-bottom: 1em;
}
footer a{
    font-size: 0.8em;
    text-decoration: none;
    color: white;
}
footer li{
    line-height: 1.5;
    list-style-type: none;
}
.contact_f img{
    display: inline-block;
}
.rs{
    padding: 0.4em 0.5em 0.3em 0.5em;
    border: 1px solid white;
    border-radius: 50%;
}